html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

body {
    font-size: 1em;
    background-color: #feffff !important;
    color: #aaaaaa;
}

.container {
    position: relative;
    z-index: 11;
}

a {}

a:hover {}

.orange {
    color: #f4976c;
}

.yellow {
    color: #fbe8a6 !important;
}

.bg-color,
.navbar.scrolled,
.service {
    background-color: #fafafa;
}

header {}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 111;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler span {
    width: 25px;
    height: 2px;
    display: block;
    background-color: #f4976c;
    /* position: relative; */
    /* padding-bottom: 4px; */
    margin-bottom: 5px;
}

.navbar-toggler.active .top {
    -webkit-transform: translateY(-1px) translateX(0) rotate(50deg);
    transform: translateY(-1px) translateX(0) rotate(50deg);
    /* background: #FFF; */
}

.navbar-toggler.active .middle {
    opacity: 0;
    /* background: #FFF; */
}

.navbar-toggler.active .bottom {
    -webkit-transform: translateY(-15px) translateX(0) rotate(-50deg);
    transform: translateY(-15px) translateX(0) rotate(-50deg);
    /* background: #FFF; */
}

.navbar.scrolled {
    /* background-color: #ffe8e8 !important; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffe8e8+0,ffdcdc+0,fafafa+100 */
    /* background: rgb(255, 232, 232); */
    /* Old browsers */
    /* background: -moz-linear-gradient(top, rgba(255, 232, 232, 1) 0%, rgba(255, 220, 220, 1) 0%, rgba(250, 250, 250, 0.9) 100%); */
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top, rgba(255, 232, 232, 1) 0%, rgba(255, 220, 220, 1) 0%, rgba(250, 250, 250, 0.9) 100%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, rgba(255, 232, 232, 1) 0%, rgba(255, 220, 220, 1) 0%, rgba(250, 250, 250, 0.9) 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8', endColorstr='#fafafa', GradientType=0); */
    /* IE6-9 */
    transition: background-color 200ms linear;
    /* background-color: #fafafa; */
}

.navbar-nav {}

.nav-item {}

.nav-link {
    font-size: 0.94em;
    /* font-size: 15px; */
    color: #303c6c;
    font-weight: 500;
}

.nav-link:hover {
    color: #f4976c;
}

.logo,
h5 {
    font-family: 'Sacramento', cursive;
    /* font-size: 35px; */
    /* font-size: 2.2em; */
    color: #f4976c !important;
}

.logo,
h3 {
    font-size: 2.2em;
}

.banner-section {
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: 100vh; */
}

.overlay {
    background-color: rgb(254 255 255 / 50%);
}

.banner-section .row {
    height: 100vh;
}

.banner-section .section-header {
    /* padding-top: 215px;
    padding-bottom: 144px; */
    padding-top: 120px;
    padding-bottom: 45px;
}

.section-header {
    text-align: center;
    padding-top: 100px;
}

p {}

.pre-header,
.btn {
    /* font-size: 14px; */
    font-size: 0.88em;
}

.pre-header {
    letter-spacing: 5px;
    color: #b4dfe5;
    /* color: #fbe8a6; */
    font-weight: 500;
}

h1 {
    /* font-size: 70px; */
    font-size: 4.38em;
    /*     color: #ff7e67; */
    /* color: #07689f; */
    color: #303c6c;
}

h3 {
    /* font-size: 35px; */
    /* font-size: 2.2em; */
    margin-top: 12px;
    margin-bottom: 70px;
    /* color: #fafafa; */
    color: #303c6c;
}

.btn {
    /* font-size: 16px; */
    background-color: aquamarine;
    padding: 15px;
    box-shadow: 5px 5px 8px #454545;
    letter-spacing: 2px;
    font-weight: 500;
    width: 190px;
    color: #303c6c;
    background-color: #b4dfe5;
    transition: 0.5s;
}

.btn:focus {
    box-shadow: 5px 5px 8px #454545;
}

.btn:hover {
    box-shadow: 8px 8px 8px #454545;
    color: #303c6c;
    transform: translate(5px, 5px);
}

.service-section {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fafafa+0,ffdcdc+100 */
    /* background: rgb(250, 250, 250); */
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(255, 220, 220, 1) 100%);
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(255, 220, 220, 1) 100%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(255, 220, 220, 1) 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ffdcdc', GradientType=0);
    /* IE6-9 */
    /* background-color: #feffff; */
    padding-bottom: 65px;
}

h2 {
    font-size: 2em;
    margin-bottom: 55px;
    color: #303c6c;
}

.service {
    /* box-shadow: 5px 5px 8px #454545, -5px -5px 8px #454545; */
    /* background-color: #F5F5F7; */
    padding: 0px 25px 30px;
    margin-top: 46px;
    height: 80%;
    transition: 0.5s;
}

.service-icon {
    font-size: 35px;
    display: block;
    background-color: #feffff;
    color: #303c6c;
    text-align: center;
    border-radius: 55px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    position: relative;
    top: -45px;
    /* left: 0; */
    /* margin-top: -65px; */
    margin-bottom: -16px;
    transition: 0.5s;
}

.service:hover {
    box-shadow: 0px 0px 15px 2px #dedede;
}

.service:hover .service-icon {
    /* background-color: #f4976c; */
    /* color: #303c6c; */
    background-color: #f4976c;
    /* background-color: #303c6c; */
    /* color: #303c6c; */
    /* color: #feffff; */
    color: #fafafa;
}

h4 {
    /* font-size: 19px; */
    /* font-size: 1.19em; */
    font-size: 1.25em;
    margin-bottom: 15px;
    color: #303c6c;
}

.service p {
    color: #989393;
}

.portfolio-section {
    /* background: rgb(255, 220, 220); */
    /* background: -moz-linear-gradient(top, rgba(255, 220, 220, 1) 0%, rgba(250, 250, 250, 1) 100%); */
    /* background: -webkit-linear-gradient(top, rgba(255, 220, 220, 1) 0%, rgba(250, 250, 250, 1) 100%); */
    /* background: linear-gradient(to bottom, rgba(255, 220, 220, 1) 0%, rgba(250, 250, 250, 1) 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdcdc', endColorstr='#fafafa', GradientType=0); */
    padding-bottom: 80px;
    /* background-color: #F5F5F7; */
}

.portfolio-section .btn:hover {
    transform: translate(0px, 0px);
    color: #f4976c;
}

.portfolio-row {
    margin-top: 55px;
}

.portfolio-section .nav .btn {
    background-color: transparent;
    width: 100%;
    box-shadow: none;
}

.portfolio {
    position: relative;
    margin-bottom: 30px;
    /* left: auto !important;
    position: relative !important;
    top: auto !important; */
    /* border-radius: 17px; */
}

.element-item {
    left: auto !important;
    position: relative !important;
    top: auto !important;
}

.portfolio-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #333333;
}

.portfolio:hover .portfolio-img{
    box-shadow: none;
}

.portfolio::before {
    content: "";
    /* background-color: rgb(21, 164, 250, 0); */
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

.portfolio:hover::before {
    content: "";
    background-color: rgb(180 223 229 / 90%);
    /* width: 100%; */
    height: 100%;
}

.portfolio .portfolio-item {
    position: absolute;
    bottom: 45%;
    right: 50%;
    transform: translate(50%, 45%);
    opacity: 0;
    transition: 0.5s;
    width: 85%;
}

.portfolio:hover .portfolio-item {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    opacity: 1;
}

.portfolio-item h4 {
    color: #fafafa;
}

.portfolio-item a {
    font-size: 1.2em;
    color: #fafafa;
    /* color: #f4976c; */
    /* color: #303c6c; */
    border: 1px solid #fafafa;
    /* border: 1px solid #f4976c; */
    /* border: 1px solid #303c6c;*/
    border-radius: 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    margin: 0px 5px;
}

.about-section {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.about-section .overlay {
    background-color: rgb(0 0 0 / 50%);
}

.about-section .section-header {
    padding-bottom: 100px;
}

.about-section li {
    padding: 10px 20px;
    margin-top: 25px;
}

.skill-section {
    /* background: rgb(255, 220, 220); */
    /* background: -moz-linear-gradient(top, rgba(255, 220, 220, 1) 0%, rgba(250, 250, 250, 1) 100%); */
    /* background: -webkit-linear-gradient(top, rgba(255, 220, 220, 1) 0%, rgba(250, 250, 250, 1) 100%); */
    /* background: linear-gradient(to bottom, rgba(255, 220, 220, 1) 0%, rgba(250, 250, 250, 1) 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdcdc', endColorstr='#fafafa', GradientType=0); */
    /* background-color: #F5F5F7; */
}

footer {
    /* background-color: #ffb4b4; */
    background-color: #303c6c;
    text-align: center;
    padding: 55px 0px 25px;
}

h5 {
    color: #f4976c;
    margin-bottom: 15px;
    /* font-size: 35px; */
    font-size: 2.4em;
}

footer .nav a {
    /* background-color: #f4976c; */
    /* color: #303c6c; */
    color: #f4976c;
    font-size: 1.5em;
    display: block;
    width: 45px;
    height: 46px;
    line-height: 45px;
    text-align: center;
    border-radius: 55px;
    margin: 0px 5px 35px;
    transition: 0.5s;
}

footer .nav a:hover {
    background-color: #f4976c;
    color: #303c6c;
}

.contact-section {}

@media (max-width: 1199px) {
    h4 {
        font-size: 1.18em;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 991px) {
    .banner-section .row {
        height: auto;
    }

    .banner-section .section-header {
        padding-bottom: 80px;
    }

    h1 {
        font-size: 3.38em;
    }
}

@media (max-width: 768px) {
    .navbar.scrolled {
        opacity: 0.9;
    }

    .nav-link {
        color: #fafafa;
    }

    .navbar-nav {
        background-color: rgb(244 151 108 / 90%);
    }

    .nav-link:hover {
        color: #303c6c;
    }

    /* .portfolio-row {
        margin-top: 55px;
    } */
}

@media (max-width: 575px) {
    .col-12 {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        /* font-size: 2.93em; */
    }

    .about-section li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-section .btn {
        width: 125px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 0.8em;
    }
}

@media (max-width: 375px) {
    .col-12 {
        width: 100%;
    }

    .logo,
    h3 {
        font-size: 1.75em
    }

    h4 {
        font-size: 1.09em;
    }

    .about-section li {
        padding-left: 5px;
        padding-right: 5px;
    }
}
